
@import url(normalize.css);

@font-face {
    font-family: 'TTLakes-Bold';
    src: url(fonts/TTLakes/TTLakes-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TTLakes-Light';
    src: url(fonts/TTLakes/TTLakes-Light.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'TTLakes-Medium';
    src: url(fonts/TTLakes/TTLakes-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 320px;
    width: auto; 
    background-color:rgb(248, 248, 248);
   }
 
/*Скрытие элементов, предназначеных для screen-reader (взято с htmlacademy)*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*Глобальные класс для общих стилей круглых кнопок*/
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    background-color: rgb(255, 62, 121);
    transition: background-color 0.2s; 
}

.header {
    background-color: white;
}

/*Разметка флекс-контейнеров с кнопками в шапке*/
.header__container {
    display:flex;
    align-items: center;
    column-gap: 16px;
    margin-bottom: 24px;
    padding: 18px 16px;
    border-bottom: 1px #D9FFF5 solid
}

/*Фоновые  базовые изображения у круглых кнопок*/

.burger-button {
    background:  rgb(255, 62, 121) url("icons/icon-burger-white.svg") no-repeat center;
}
.call-button{
    background: rgb(255, 62, 121) url("icons/icon-call-white.svg") no-repeat center;   
}
.chat-button{
    background: rgb(255, 62, 121) url("icons/icon-chat-white.svg") no-repeat center; 
}
.profile-button{
    background: rgb(255, 62, 121) url("icons/icon-profile-white.svg") no-repeat center;
}
.repair-button{
    background: rgb(255, 62, 121) url("icons/icon-repair-white.svg") no-repeat center; 
}
.checkstatus-button{
    background: rgb(255, 62, 121) url("icons/icon-checkstatus-white.svg") no-repeat center;
}

/* Разметка ссылки-лого  */
.header__logo-cps {
    flex-shrink: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
}
/*Рамка картинки для корректного
отображения при изменении состояния ссылки-лого  */
.logo-cps__image {
    border: 1px solid transparent;   
}

/*Для keyboard-focusable + состояния кнопок*/
.button:focus-visible,
.logo-cps:focus-visible{  
  outline: 4px solid rgb(51, 48, 207);
}

@media (hover: hover) {

    .burger-button--hover--blue-icon:hover{
        background: rgb(154, 240, 243) url(icons/icon-burger-blue.svg) no-repeat center;
        border-color: black;
    }
    .logo-cps__image:hover {
        background-color: rgb(154, 240, 243);
        border: 1px solid black;
    }
    .call-button--hover--blue-icon:hover{
        background:rgb(154, 240, 243) url(icons/icon-call-blue.svg) no-repeat center;
        border-color: black;
    }
    .chat-button--hover--blue-icon:hover {
        background:rgb(154, 240, 243) url(icons/icon-chat-blue.svg) no-repeat center;
        border-color: black;
    }
    .profile-button--hover--blue-icon:hover{
        background:rgb(154, 240, 243) url(icons/icon-profile-blue.svg) no-repeat center;
        border-color: black;
    }
    .repair-button--hover--blue-icon:hover{
        background:rgb(154, 240, 243) url(icons/icon-repair-blue.svg) no-repeat center;
        border-color: black;
        .repair-button__title {
            color: rgb(65, 134, 199);
        }
    }
    .checkstatus-button--hover--blue-icon:hover{
        background:rgb(154, 240, 243) url(icons/icon-checkstatus-blue.svg) no-repeat center;
        border-color: black;
        .checkstatus-button__title {
            color: rgb(65, 134, 199);
        }
    }
}

@media (hover: none) or (min-width: 800px) {
    
    .burger-button--active--white-icon:active{
        background: rgb(65, 134, 199) url(icons/icon-burger-white.svg) no-repeat center;
        border-color:#D9FFF5;
    }
    .logo-cps__image:active {
        background-color: rgb(65, 134, 199);
        border: 1px solid #D9FFF5;
    }
    .call-button--active--white-icon:active{
        background: rgb(65, 134, 199) url(icons/icon-call-white.svg) no-repeat center;
        border-color: #D9FFF5;
    }
    .chat-button--active--white-icon:active {
        background:rgb(65, 134, 199) url(icons/icon-chat-white.svg) no-repeat center;
        border-color: #D9FFF5;
    }
    .profile-button--active--white-icon:active{
        background:rgb(65, 134, 199)  url(icons/icon-profile-white.svg) no-repeat center;
        border-color: #D9FFF5;
    }
    .repair-button--active--white-icon:active{
        background:rgb(65, 134, 199)  url(icons/icon-repair-white.svg) no-repeat center;
        border-color: #D9FFF5;
        .repair-button__title {
            color: #D9FFF5;
        }
    }
    .checkstatus-button--active--white-icon:active{
        background:rgb(65, 134, 199)  url(icons/icon-checkstatus-white.svg) no-repeat center;
        border-color:#D9FFF5;
        .checkstatus-button__title {
            color: #D9FFF5;
        }
    }
}

/* Разметка контейнеров с кнопками действий и сервиса */
.header__action,
.header__action-repair{
    display:flex;
    align-items: center;
    column-gap: 16px;
}
/* Разделитель перед кнопками сервиса в шапке */
.header__action-repair:before{
    content: '';
    border-left: 2px solid #EAEAEA;
    border-radius: 1px;
    height: 32px;
    margin-right: 4px; 
}

/*Скрытие кнопок для мобильного устройства в шапке*/
.header__action--display-mobile--none {
    display: none;
}

/*Отключение  кнопок-действий в шапке контентной части*/
.content__action-repair--display-touch--none {
    display: none;
}
/*Шрифт заголовка контентной части*/
.content__header-title {
    font-family: 'TTLakes-Bold';
    color: rgb(27, 28, 33);
    font-size: 28px;
    line-height: 40px; 
    letter-spacing: -0.6px;
    text-align: left;
}
/* Highlight перед заголовком шапки контентной части */
.content__header-title:before {
    content: '';
    border-right: 4px solid rgb(65, 246, 215);
    border-radius: 0 4px 4px 0;
    margin-right: 12px;
}
/* Нижний отстут шапки контента */
.content__header{
    margin-bottom: 20px;
}

/*Разметка списка навигации, скролл
+ добавил padding для корректного отображения рамки при keyboard-focusable  */
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
    column-gap: 10px;
    padding: 4px 14px;
    margin: 0;
    margin-bottom: 8px;
 }

 /*Рамка для keyboard-focusable кнопок в навигации контентной части и читать далее*/
 .nav__button:focus-visible,
 .description__button:focus-visible {  
    outline: 4px solid rgb(51, 48, 207);
    border-radius: 6px;
  }
  
/*Базовый стиль кнопок в навигации контентной части*/
 .nav__button {
    border: 2px solid transparent;
    background-color: inherit;
    padding-inline: 16px;
    height: 40px;
    width: auto;
 }

/*Шрифт текста кнопок навигации контентной части*/
 .nav__button-title {
    font-family: 'TTLakes-Medium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: right;
    white-space: nowrap;
    color: rgb(126, 126, 130);
 }

/*Стили состояния кнопок навигации контентной части*/
 @media (hover: hover) {
    .nav__button:hover{
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
        background: rgb(255, 255, 255);
    
        .nav__button-title{
            color: rgb(65, 134, 199);
            }
    }
}
@media (hover: none) or (min-width: 800px) {
    .nav__button:active{
        border: 2px solid rgb(184, 255, 236);
        border-radius: 6px;
        background: rgb(65, 134, 199);
        .nav__button-title{
            color: white;
    }
    }
}

/* Разметка флекс контейнера с текстовой частью и изображением */
.content__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Разметка контейнера с текстом и кнопкой - читать далее */
.description__container {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
}
/*Разметка флекс контейнера с текстовым контентом  */
.description__text-wrapper {
    height: 90px;
    width: auto;
    max-width: 550px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}
.description__text {
    font-family: 'TTLakes-Medium';
    font-size: 14px;  
    line-height: 18px; 
    font-weight: 400;
    letter-spacing: 0.1px;
    color: rgb(27, 28, 33);
}

/* Стили кнопки читать далее */
.description__button {
    border: 4px solid transparent;
    background-color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;
    height: 30px;
    width: 150px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 12px;
}
/* Декоративные стрелки перед кнопкой */
.description__button:before {
    content: url(icons/expand.svg);
}

/* Оформление текста названия кнопки */
.description__button-title {
    font-family: "TTLakes-Medium";
    color: rgb(27, 28, 33);
    font-size: 16px;      
    font-weight: 500;     
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align:left;
    white-space: nowrap; 
}

/*Стили состояния кнопки читать далее*/
@media (hover: hover) {
    .description__button:hover{
        .description__button-title {
        color: rgb(65, 134, 199);
        }
    }
    
}
@media (hover: none) or (min-width: 800px) {
    
    .description__button:active{
        .description__button-title {
        color: rgb(65, 134, 199);
        }
    }
}

.image__cps{
    max-width: 100%;
}

/****************** МЕДИА ЗАПРОСЫ **************************/

/*Экран планшет 768-1120*/

@media (min-width: 768px) and (min-height: 504px){

/*Внутренние отступы в шапке*/
    .header__container {
        padding-inline: 24px;
        }  
/*Подключение кнопок действий*/
    .header__action{
        display: flex;
        }  
/*Разделитель между бургер кнопкой и логотипом*/  
    .header__logo-cps::before{
        content: "";
        border-left: 2px solid #EAEAEA;
        border-radius: 1px; 
        height: 32px; 
        margin-right: 20px;
        margin-left: 4px;
        }

    /*Отступ разделителя правого блока кнопок в шапке*/
    .header__action-repair:before{
        margin-left: 4px;
    }
    /* Изменение отступа highlight перед заголовком шапки контентной части */
    .content__header-title:before {
    margin-right: 20px;
    }
    /* Изменение нижнего отступа шапки контента  */
    .content__header {
        margin-bottom: 28px;
    }
    /* Изменение отступов списка навигации */
    .nav__list {
        padding-inline: 24px;
        margin-bottom: 12px;
    }
    /* Разметка флекс контейнера с текстовой частью и изображением-
    изменение направления */
    .content__description {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        column-gap: 48px;
        margin-inline: 24px ;
    }
    /*Флекс контейнер с текстовым контентом - изменение размеров*/
.description__text-wrapper {
    height: 160px;
    width: 312px;
    margin: 0;
    }
/* Отступ между параграфами текстового контента */
.description__text--margin--bottom {
    margin-bottom: 32px;
    }
    
}

/*Экран пк 1120-1600*/
@media (min-width: 1120px) and (min-height: 535px){
    
    /*Разметка флекс контейнера шапки контентной части + 
    изменение отступов*/
    .content__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 32px;
        margin-top: 42px;
        margin-bottom: 8px;
    }
    /* Изменение отступа highlight перед заголовком шапки контентной части */
    .content__header-title:before {
        margin-right: 28px;
    }

    /*Отключение шапки*/
    .header{       
        display: none;       
    }
    /*Подключение кнопок действий в шапке контентной части 
    и удаление разделителя слева от кнопок*/
    .content__action-repair {
        display: flex;
        column-gap: 157px;
    }

    /* Отключение разделителя перед кнопками(который был в основной шапке)  */
    .header__action-repair:before{
        display: none;
    }

    /* Стили текста кнопок в шапке контента */
    .repair-button,
    .checkstatus-button {
        font-family: 'TTLakes-Medium';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-align: left;
    }
    /* Разметка заголовков кнопок в шапке контента */

    .repair-button__title,
    .checkstatus-button__title {
        display: inline-block;
        white-space: nowrap;
        margin-right: 174px;
    }
    .repair-button__title{
        margin-right: 186px;
    }

    /* Убираю полосу горизонтального скролла +
    изменение отступов */
    .nav__list{
        overflow-x: hidden;
        flex-wrap: wrap;
        column-gap: 0;
        padding: 4px 30px 4px 32px;
        margin-bottom: 16px;
    }
        /*Флекс контейнер с текстовым контентом - изменение размеров*/
    .description__text-wrapper {
        width: 490px;
    }
        /* Разметка флекс контейнера с текстовой частью и изображением-
    изменение отступов */
    .content__description{
        column-gap: 36px;
        margin-inline: 32px ;
    }
}

@media (min-width: 1200px){
    body{
        max-width: 1600px;
    }
    .nav__list{
        margin-bottom: 50px;
    }
    .content__header{
        margin-bottom: 50px;
    }
}

@media (min-width: 1600px){   
    body{
       margin: 0 auto;
    }
.content__description{
    column-gap: 150px;
    }
.content__header {
    padding-top: 150px;
    }
}